[Desktop Entry]
Encoding=UTF-8
Name=Lien vers https://upload.wikimedia.org/wikipedia/commons/a/a5/Pivoine-rose01.jpg
Type=Link
URL=https://upload.wikimedia.org/wikipedia/commons/a/a5/Pivoine-rose01.jpg
Icon=image-jpeg
